QMainWindow {
  background-color: #121212
}

QPushButton {
  color: white;
  font-size: 14pt;
  background: #333;
  border-radius: 5px;
  padding: 5px;
}

/* Specific Styles */
#titleLabel {
  font-size: 48pt;
  font-weight: bold;
  color: white;
  letter-spacing: 5px;
}

#startUploadButton {
  background: #333;
  color: white;
  font-size: 14pt;
  border-radius: 5px;
  border: 2px solid white;
}